secret.key
__pycache__
data/*
!data/users.json
logs/*.log
config.py
.DS_Store
cookies*.txt

# TLS certificates
cert.pem
key.pem

# python cache
__pycache__/
*.pyc

#virtual enviorments
venv/
.env/

#OS junk
.DS_Store
Thumbs.db
desktop.ini

# data
data/
logs/

#encryption keys
*.key
*.pem

#one drive sync
*.lnk
~$*

uploads/
